<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>


    <!-- General description of your web application -->

    <display-name>oai</display-name>
    <description>
      This is the version 1.0 of the fiz-oai-provider.
      It is based on the OAICat framwork which was written
      by Jeffrey Young (jyoung@oclc.org), who should be
      contacted for more information.
    </description>


    <listener>
        <listener-class>de.fiz_karlsruhe.ContextListener</listener-class>
    </listener>


    <servlet>
      <servlet-name>OAIHandler</servlet-name>
      <description>
        This servlet processes OAI verbs. 

        The initialization parameter names for this servlet are the
        "servlet path" that will be received by this servlet (after the
        filename extension is removed).  The corresponding value is the
        name of the action class that will be used to process this request.
      </description>
      <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
      <!-- Load this servlet at server startup time -->
      <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
      <servlet-name>OAIHandler</servlet-name>
      <url-pattern>/OAIHandler</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OAIHandler</servlet-name>
        <url-pattern>/servlet/OAIHandler</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>LogoServlet</servlet-name>
      <servlet-class>de.fiz_karlsruhe.LogoServlet</servlet-class>
      <!-- Load this servlet at server startup time -->
      <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
      <servlet-name>LogoServlet</servlet-name>
      <url-pattern>/logo</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>IdentifyServlet</servlet-name>
        <jsp-file>/identify.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>IdentifyServlet</servlet-name>
        <url-pattern>/identify</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>GetRecordServlet</servlet-name>
        <jsp-file>/getRecord.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>GetRecordServlet</servlet-name>
        <url-pattern>/getRecord</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>ListIdentifiersServlet</servlet-name>
        <jsp-file>/listIdentifiers.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>ListIdentifiersServlet</servlet-name>
        <url-pattern>/listIdentifiers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListIdentifiersResumptionServlet</servlet-name>
        <jsp-file>/listIdentifiersResumption.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>ListIdentifiersResumptionServlet</servlet-name>
        <url-pattern>/listIdentifiersResumption</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ListMetadataFormatsServlet</servlet-name>
        <jsp-file>/listMetadataFormats.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>ListMetadataFormatsServlet</servlet-name>
        <url-pattern>/listMetadataFormats</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ListRecordsServlet</servlet-name>
        <jsp-file>/listRecords.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>ListRecordsServlet</servlet-name>
        <url-pattern>/listRecords</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ListRecordsResumptionServlet</servlet-name>
        <jsp-file>/listRecordsResumption.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>ListRecordsResumptionServlet</servlet-name>
        <url-pattern>/listRecordsResumption</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ListSetsServlet</servlet-name>
        <jsp-file>/listSets.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>ListSetsServlet</servlet-name>
        <url-pattern>/listSets</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>ListSetsResumptionServlet</servlet-name>
        <jsp-file>/listSetsResumption.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>ListSetsResumptionServlet</servlet-name>
        <url-pattern>/listSetsResumption</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>StylesheetServlet</servlet-name>
        <jsp-file>/stylesheet.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>StylesheetServlet</servlet-name>
        <url-pattern>/stylesheet</url-pattern>
    </servlet-mapping>



    <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         HttpSession.getMaxInactiveInterval(). -->

    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>

    <mime-mapping>
       <extension>xsl</extension>
       <mime-type>application/xslt+xml</mime-type>
    </mime-mapping>

</web-app>
